@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&display=swap');

body{
    font-family: 'Cairo', sans-serif;
    height: 3000px;
}
     /**********************Start header**********************/

.header{
    background-color: rgb(254, 117, 26);
    color: white;
    height: 50px;
    line-height: 50px;
}
.header a{
    float:right ;
    margin-top: 6px;
}
      /**********************End header**********************/

      /**********************Start sliderr**********************/

.carousel-indicators li{
    height:15px;
    background-color: rgb(243, 142, 79);
}
 .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(252, 185, 50, 0.293);
    position: absolute;
    z-index:1;
 }
/**********************End sliderr**********************/

/**********************Start feutures**********************/
.feutures{
    margin-top: 75px;
    
}
.feutures i{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 77, 0);
    line-height: 100px;
    color: white;
    font-size: 40px;
}
.feutures h3{
    display: inline-block;
    background-color: rgb(255, 216, 172);
    margin-top: 20px;
    margin-bottom: 20px;
}
.feutures p{
    color: rgb(63, 63, 63);
    line-height: 1.8;
}
.feutures h2{
    font-size: 40px;
    margin-bottom: 30px;
}
/**********************End feutures**********************/

/**********************Start our team**********************/
.our-team{
    background-color: #eee;
    padding: 20px;
}
/**********************End our team**********************/

/**********************Start statistic**********************/
.statistic{
    margin-top: 100px;
    width: 1497px;
    height: 512px;
    background-image: url('../images/statistic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.statistic .dverlay{
    padding-top: 130px;
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100%;
}
.statistic .dverlay h3{
    color: white;
}
.statistic .dverlay p{
    color: white;
    font-size: 75px;
}
/**********************End statistic**********************/

/**********************Start our customrs**********************/
.Our_customers{
    margin-top: 100px;
    line-height:200px;
    border-bottom: 3px solid rgb(228, 227, 227)
}
/**********************End our customrs**********************/

/**********************Start resent news**********************/
.recent_news{
    background-color: #eee;
    padding: 20px;
}
.btn-light{
    background-color: rgb(255, 106, 0);
    color: #eee;
}
/**********************End resent news**********************/

/**********************Start footer**********************/
.footer{
    background-color: rgb(255, 106, 0);
    padding: 30px;
    color: white;
}
.footer a{
    color: white;
}
.footer a:hover{
    color: rgb(81, 80, 80);
}
.footer ul li{
    list-style: none;
}
/**********************End footer**********************/


/**********************Start blogs**********************/
.jumbotron{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.jumbotron .blog_info{
     flex: 2;
}
.jumbotron .blog_image{
     flex: 1;
}
/**********************End blogs**********************/

/**********************Start blog_details**********************/
.blog_details p{
    line-height: 2;
    padding: 20px;
}
/**********************End blog_details**********************/

/**********************Start courses**********************/
.courses img:hover{
    transform: scale(1.1);
}
/**********************End courses**********************/